body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    margin: 3% 3% 0% 3%;
}

.logo_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 10px;
}

#logo_site {
    width: 10%;
    padding-top: 1%;
}

#logo_site img {
    width: 65%;
    margin-left: 25%;
}

nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    margin-top: 0%;
    padding-top: 25px;
}

nav li {
    margin-right: 50px;
}

nav a:hover {
    border-top: 3px #0065FC solid;
    margin-top: 0px;
    padding-top: 60px;
    color: #0065FC;
}

h1 {
    font-size: medium;
    margin-left: 0;
    margin-top: 5px;
}

.presentation p {
    margin-left: 0;
    margin-top: 0px;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form i {
    font-size: 1em;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 14px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.resizedTextbox {
    height: 30px;
    border: #F2F2F2 1px solid;
    padding-left: 10px;
    font-family: Raleway;
    font-weight: bold;
}

.research {
    border: #0065FC;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    height: 34px;
    width: 100px;
}

button .search {
    color: white;
    font-family: Raleway;
    font-weight: bold;
}

.magnifying_glass {
    visibility: hidden;
}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.filters p {
    padding: 5px;
}

.categories {
    display: flex;
    width: 100%;
    gap: 3%;
}

.filters p {
    font-weight: bold;
}

.money_bill i,
.heart i,
.dog i {
    font-size: 90%;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    margin: 0px;
    background-color: #DEEBFF;
}

.child i {
    font-size: 100%;
    border-radius: 50%;
    text-align: center;
    padding: 12px 14px 12px 14px;
    margin: 0px;
    background-color: #DEEBFF;
}

.economy a,
.romance a,
.fam a,
.animals a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: #F2F2F2 2px solid;
    border-radius: 40px;
    border-left: none;
    height: 35px;
}

.economy {
    width: 160px;
}

.romance {
    width: 160px;
}

.fam {
    width: 130px;
}

.animals {
    width: 210px;
}

.economic,
.family,
.romantic,
.pets {
    text-align: center;
    padding: 10px;
}

.economy a:hover,
.fam a:hover,
.romance a:hover,
.animals a:hover,
.room_card:hover,
.popular_card:hover,
.big_card:hover,
.small_card_1:hover,
.small_card_2:hover,
.small_card_3:hover,
.small_card_4:hover {
    -webkit-transform: scale(1.10)
}

.info_part {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.info_icon i {
    font-size: 70%;
    text-align: center;
    color: #0065FC;

}

.circle {
    border: #F2F2F2 1px solid;
    border-radius: 50%;
    padding: 40% 90% 40% 90%;

}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3%
}

.rooms_popular {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0%;
    gap: 3%;

}

.rooms_popular h2 {
    font-size: larger;
}

.rooms_marseille,
aside {
    border: 2px #F2F2F2;
    border-radius: 10px;
    background-color: #F2F2F2;

}

.rooms_marseille {
    width: 80%;
    padding: 2% 3% 0% 3%;
}

.rooms_cards {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    row-gap: 20px;
}

.room_card {
    width: 218px;
    height: 165px;
    border: 2px white;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;

}

.card_image {
    padding: 2%;
    height: 55%;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.rooms_marseille h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 7%;
    font-size: medium;
}

.card_body p {
    margin-top: 1%;
    margin-bottom: 0%;
    margin-left: 7%;
    font-size: small;
}

.stars {
    display: flex;
    justify-content: flex-start;
    margin-top: 3%;
    margin-left: 7%;
    gap: 1px;
    font-size: 40%;
}

i {
    color: #0065FC;
    font-size: 200%;
}

.grey i {
    color: #F2F2F2;
    font-size: 200%;

}

.rooms_marseille h4 {
    font-size: large;
    margin-top: 11%;
}

aside {
    width: 35%;
    padding: 2% 3% 0% 3%;
}

.most_popular_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.star_pop i {
    color: black;
    font-size: 100%;
}

.popular_cards {
    height: 80%;
    flex-direction: column;
    align-content: space-between;
}

.popular_card {
    display: flex;
    border: 2px white;
    border-radius: 15px;
    padding: 1.5%;
    margin-bottom: 10%;
    height: 120px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
}

.popular_image {
    width: 40%;
}

.popular_image img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}

.popular_body {
    padding-left: 4%;
    width: 50%;
}

.popular_body h3 {
    margin-top: 5%;
    margin-left: 0;
    margin-bottom: 0;
    font-size: medium;
}

.popular_body p {
    margin-top: 1%;
    margin-bottom: 25%;
    font-size: small;

}

.stars_pop {
    display: flex;
    justify-content: flex-start;
    font-size: 40%;
    gap: 1px;
}


.activities {
    width: 100%;
    justify-content: flex-start;
    border: white dashed;
    margin: 30px 0px 30px 0px;
}

.activities h2 {
    font-size: larger;
}

.activities_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.big_card {
    width: 25%;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
}

.big_image {
    width: 100%;
    height: 85%;
    border-radius: 15px 15px 0px 0px;
}

.big_image img {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big_card h5,
.small_card_2 h5 {
    margin-top: 6%;
    margin-left: 6%;
    font-size: medium;
}

.small_cards_part {
    width: 25%;
}

.small_card_1 {
    height: 190px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    margin-bottom: 10%;
}

.small_card_1 .small_image {
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0px 0px;
}

.small_card_1 h5,
.small_card_4 h5 {
    margin-top: 5%;
    margin-left: 6%;
    font-size: medium;
}

.small_card_2 {
    height: 132px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
}

.small_card_2 .small_image {
    width: 100%;
    height: 60%;
    border-radius: 15px 15px 0px 0px;
}

.small_card_3 {
    height: 160px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    margin-bottom: 10%;
}

.small_card_3 .small_image {
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0px 0px;
}

.small_card_3 h5 {
    margin-top: 4%;
    margin-left: 6%;
    font-size: medium;
}

.small_card_4 {
    height: 162px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
}

.small_card_4 .small_image {
    width: 100%;
    height: 68%;
    border-radius: 15px 15px 0px 0px;
}

.small_image img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding-top: 2%;
    gap: 200px;
}

footer h3 {
    font-size: medium;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.about {
    margin-left: 3%;
}

footer li:not(:last-child) {
    margin-bottom: 15px;
}

h4 a:hover,
.links_info a:hover {
    text-decoration: 2px underline;
    color: black;
}


@media all and (min-width: 768px) and (max-width: 992px) {

    body {
        margin-right: 0;
        padding: 0;
    }

    header {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        padding: 0;
    }

    .main_content {
        margin: 0px;
        width: 100%;
        flex-direction: column;
    }

    .logo_nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #logo_site {
        display: block;
        margin: auto;
        width: 30%;
    }

    #logo_site img {
        width: 60%;
        margin-left: 30%;
        margin-bottom: 5%;
    }

    nav {
        width: 100%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
        border-bottom: #F2F2F2 solid 3px;
    }

    nav ul {
        width: 100%;
        margin-bottom: 3%;
        height: none;
        justify-content: space-around;
        color: #F2F2F2;
    }

    nav li {
        color: #F2F2F2;
        margin-right: 0;
    }

    nav a:hover {
        border-top: none;
        color: #0065FC;
        border-bottom: #0065FC solid 3px;
        padding-bottom: 22px;
    }

    h1 {
        font-size: larger;
    }

    .magnifying_glass {
        display: none;
    }

    h1 {
        margin-left: 5%;
    }

    .presentation p {
        margin-left: 5%;
        margin-top: 0px;
    }

    .form {
        margin-left: 5%;
    }

    .presentation p {
        font-size: small;
        margin-bottom: 5%;
    }

    .economy a:hover,
    .fam a:hover,
    .romance a:hover,
    .animals a:hover,
    .room_card:hover,
    .popular_card:hover,
    .big_card:hover,
    .small_card_1:hover,
    .small_card_2:hover,
    .small_card_3:hover,
    .small_card_4:hover,
    h4 a:hover,
    .links_info a:hover {
        display: none;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: 0%;
        margin-left: 5%;
        margin-top: 0px;
        padding: 0;

    }

    .filters p {
        margin-bottom: 1%;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-left: 0%;
        margin-top: 0%;
    }

    .economy {
        width: 150px;
    }

    .economic {
        padding: 5px;
    }

    .fam {
        margin-left: 0px;
        width: 120px;
    }

    .info_part {
        margin-left: 5%;
        margin-bottom: 3%;
    }

    .info_part p {
        font-size: smaller;
    }

    .rooms_marseille {
        width: 65%;
        margin: 0% 0% 0% 5%;
        padding: 0;
    }

    .rooms_marseille h2 {
        margin-top: 8%;
        margin-bottom: 5%;
        margin-left: 8%;

    }

    .rooms_marseille h4 {
        padding-left: 5%;
    }

    .rooms_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 5%;
        height: none;
        padding-left: 5%;
        padding-right: 5%;
    }

    .room_card {
        width: 45%;
        height: 160px;
        margin: 0px;
        border: 2px white;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 5px 20px #999;

    }

    .rooms_marseille h3,
    .card_body p {
        margin-left: 5%;
    }

    .rooms_marseille h3 {
        font-size: smaller;
    }

    .stars {
        margin-top: 2%;
        margin-left: 5%;
    }

    .rooms_marseille h4 {
        margin-top: 35%;
        margin-bottom: 0;
        margin-left: 3%;
    }

    aside {
        width: 45%;
        margin: 0% 5% 0% 0%;
        padding: 0;
    }

    .most_popular_title {
        margin-top: 8%;
        padding-left: 8%;
        padding-right: 5%;
    }

    .popular_cards {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
    }

    .popular_card {
        height: 150px;
    }

    .popular_card h3 {
        font-size: smaller;
        margin-bottom: 20%;
    }

    .popular_body p {
        margin-bottom: 30%;
    }

    .activities {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0% 0% 10% 0%;
        padding: 0;


    }

    .activities h2 {
        margin-left: 5%;
    }

    .activities_cards {
        width: auto;
        display: flex;
        flex-direction: wrap;
        margin-left: 5%;
        margin-right: 5%;
    }

    .big_card,
    .small_card_1,
    .small_card_2,
    .small_card_3,
    .small_card_4 {
        height: 165px;
    }

    .big_card,
    .small_cards_part {
        width: 100%;
        height: 300px;
        gap: 2px;
    }

    .small_card_1,
    .small_card_2,
    .small_card_3,
    .small_card_4 {
        height: 142px
    }

    .small_cards_part {
        justify-content: space-between;
        padding-bottom: 0;
    }

    .big_image {
        height: 80%;
        width: 100%;
    }

    .small_card_1 .small_image,
    .small_card_2 .small_image,
    .small_card_4 .small_image {
        height: 70%;
    }

    .big_card h5 {
        margin: 5% 0% 0% 5%;
        font-size: medium;
    }

    .small_card_3 h5 {
        margin-top: 2%;
    }

    footer {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 15%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .houses,
    .help {
        margin-left: 3%;
    }


}


@media all and (max-width: 767px) {

    body {
        margin-right: 0;
        padding: 0;
    }

    header {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        padding: 0;
    }

    .main_content {
        margin: 0px;
        width: 100%;
        flex-direction: column;
    }

    .logo_nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #logo_site {
        display: block;
        margin: auto;
        width: 30%;
    }

    #logo_site img {
        width: 100%;
        margin-left: 15%;
    }

    nav {
        width: 100%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
        border-bottom: #F2F2F2 solid 3px;
    }

    nav ul {
        width: 100%;
        height: none;
        justify-content: space-around;
        color: #F2F2F2;
    }

    nav li {
        color: #F2F2F2;
        margin-right: 0;
    }

    nav a:hover {
        border-top: none;
        color: #0065FC;
        border-bottom: #0065FC solid 3px;
        padding-bottom: 16px;
    }

    h1 {
        font-size: larger;
    }

    .research {
        display: none;
    }

    .magnifying_glass {
        visibility: visible;
        margin-left: 0px;
        padding: 0px;
        height: 10%;
        border: none;
        background-color: white;
    }

    .magnifying_glass i {
        margin-left: -100%;
        font-size: 100%;
        color: white;
        background-color: #0065FC;
        border-radius: 10px;
        padding-left: 9px;

    }

    h1 {
        margin-left: 5%;
    }

    .presentation p {
        margin-left: 5%;
        margin-top: 0px;
    }

    .form {
        margin-left: 5%;
    }

    .presentation p {
        font-size: small;
        margin-bottom: 5%;
    }

    .economy a:hover,
    .fam a:hover,
    .romance a:hover,
    .animals a:hover,
    .room_card:hover,
    .popular_card:hover,
    .big_card:hover,
    .small_card_1:hover,
    .small_card_2:hover,
    .small_card_3:hover,
    .small_card_4:hover,
    h4 a:hover,
    .links_info a:hover {
        display: none;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: 0%;
        margin-left: 5%;
        margin-top: 0px;
        padding: 0;

    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 1%;
    }

    .economy {
        width: 150px;
    }

    .economic {
        padding: 5px;
    }

    .fam {
        margin-left: 0px;
        width: 120px;
    }

    .info_part {
        margin-left: 5%;
    }

    .info_part p {
        font-size: smaller;
    }

    .rooms_popular {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    aside {
        border-radius: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .most_popular_title {
        padding-left: 5%;
        padding-right: 5%;
    }

    .popular_cards {
        padding: 5%;
    }

    .popular_card {
        height: none;
    }

    .popular_card h3 {
        font-size: smaller;
        margin-bottom: 0;
    }

    .popular_card p {
        margin-top: 0;
    }

    .popular_body {
        justify-content: space-between;
    }

    .stars_pop {
        margin-top: 0;
        margin-bottom: 3%;
    }

    .rooms_marseille {
        border: white;
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .rooms_marseille h2 {
        padding-bottom: 0px;
        padding-left: 5%;
        margin-top: 10%;
    }

    .rooms_marseille h4 {
        padding-left: 5%;
    }

    .rooms_cards {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        padding: 5%;
    }

    .room_card {
        width: 100%;
        height: none;
        margin: 0px;
        border: 2px white;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 5px 20px #999;

    }

    .rooms_marseille h3,
    .card_body p {
        margin-left: 5%;
    }

    .stars {
        margin-top: 1%;
        margin-left: 5%;
    }

    .activities {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0% 0% 10% 0%;
        padding: 0;


    }

    .activities h2 {
        margin-left: 5%;
    }

    .activities_cards {
        display: flex;
        flex-direction: column;
        margin-left: 5%;

    }

    .big_card,
    .small_card_1,
    .small_card_2,
    .small_card_3,
    .small_card_4 {
        height: 165px;
    }

    .big_card,
    .small_cards_part {
        width: 86%;
        gap: 20px;
    }

    .big_image {
        height: 70%;
        width: 100%;
    }

    .small_card_1 .small_image,
    .small_card_2 .small_image,
    .small_card_4 .small_image {
        height: 70%;
    }


    .big_card h5,
    .small_cards_part h5 {
        margin: 12px 0px 0px 12px;
        font-size: medium;
    }

    footer {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 15%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .houses,
    .help {
        margin-left: 3%;
    }
}