body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    margin: 3% 3% 0% 3%;
}

.logo_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 10px;
}

#logo_site {
    width: 10%;
    padding-top: 1%;
}

#logo_site img {
    width: 75%;
    margin-left: 25%;
}

nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    margin-top: 5%;
    padding-top: 0;
}

nav li {
    margin-right: 50px;
}

nav a:hover {
    border-top: 3px #0065FC solid;
    padding-top: 48px;
    color: #0065FC;
}

h1 {
    margin-left: 0;
    margin-top: 5px;
}

.presentation p {
    margin-left: 0;
    margin-top: 0;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form i {
    font-size: 1em;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 14px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.resizedTextbox {
    height: 30px;
    border: #F2F2F2 1px solid;
    padding-left: 10px;
    font-family: Raleway;
    font-weight: bold;
}

input::placeholder {
    color: black;
}

.research {
    border: #0065FC;
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0065FC;
    height: 34px;
    cursor: pointer;
    color: white;
    font-family: Raleway;
    font-weight: bold;
    font-size: medium;
}

.magnifying_glass {
    visibility: hidden;
}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.filters p {
    padding: 5px;
}

.categories {
    display: flex;
    width: 100%;
    gap: 20px;
}

.filters p {
    font-weight: bold;
}

.money_bill i,
.heart i,
.dog i {
    font-size: 90%;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    margin: 0;
    background-color: #DEEBFF;
}

.child i {
    font-size: 100%;
    border-radius: 50%;
    text-align: center;
    padding: 12px 14px 12px 14px;
    margin: 0;
    background-color: #DEEBFF;
}

.economy a,
.romance a,
.fam a,
.animals a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: #F2F2F2 2px solid;
    border-radius: 40px;
    border-left: none;
    height: 35px;
}

.economy {
    width: 160px;
}

.romance {
    width: 160px;
}

.fam {
    width: 130px;
}

.animals {
    width: 210px;
}

.economic,
.family,
.romantic,
.pets {
    text-align: center;
    padding: 10px;
}

.economy a:hover,
.fam a:hover,
.romance a:hover,
.animals a:hover,
.room_card a:hover,
.popular_cards a:hover,
.big_card_1 a:hover,
.big_card_2 a:hover,
.small_card_1 a:hover,
.small_card_2 a:hover,
.small_card_3 a:hover,
.small_card_4 a:hover {
    color: #0065FC;
}


.info_part {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.info_icon i {
    font-size: 70%;
    text-align: center;
    color: #0065FC;
}

.circle {
    border: #F2F2F2 1px solid;
    border-radius: 50%;
    padding: 40% 90% 40% 90%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3%;
}

.rooms_popular {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    gap: 3%;
}

.rooms_popular h2 {
    font-size: larger;
}

.rooms_marseille,
aside {
    border: 2px #F2F2F2;
    border-radius: 10px;
    background-color: #F2F2F2;
}

.rooms_marseille {
    width: 80%;
    padding: 2% 3% 0% 3%;
}

.rooms_cards {
    width: auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.first_line,
.second_line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    gap: 2%;
}

.room_card {
    width: 35%;
    height: 170px;
    border: 2px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
}

.card_image {
    padding: 5px;
    height: 55%;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.rooms_marseille h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: smaller;
}

.card_body {
    margin-left: 15px;
    margin-top: 2px;
}

.card_body p {
    margin-top: 1%;
    margin-bottom: 5px;
    font-size: small;
}

.stars {
    display: flex;
    justify-content: flex-start;
    margin-top: 0%;
    gap: 1px;
    font-size: 40%;
}

i {
    color: #0065FC;
    font-size: 200%;
}

.grey i {
    color: #F2F2F2;
    font-size: 200%;

}

.rooms_marseille h4 {
    font-size: large;
}

aside {
    width: 35%;
    padding: 2% 3% 0% 3%;
}

.most_popular_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.star_pop i {
    color: black;
    font-size: 100%;
}

.popular_cards {
    height: 80%;
    flex-direction: column;
    align-content: space-between;
}

.popular_card {
    display: flex;
    border: 2px;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10%;
    height: 120px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
}

.popular_image {
    width: 40%;
}

.popular_image img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}

.popular_body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 12px;
    width: 50%;
}

.popular_body h3 {
    margin-top: 5%;
    margin-left: 0;
    margin-bottom: 3px;
    font-size: medium;
}

.popular_body p {
    margin-top: 1%;
    font-size: small;
}

.stars_pop {
    display: flex;
    justify-content: flex-start;
    font-size: 40%;
    gap: 1px;
}

.activities {
    width: 100%;
    justify-content: flex-start;
    margin: 30px 0px 30px 0px;
}

.activities h2 {
    font-size: larger;
}

.activities_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.big_card_1,
.big_card_2 {
    width: 25%;
    height: 360px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
}

.big_image {
    width: 100%;
    height: 85%;
    border-radius: 15px 15px 0px 0px;
}

.big_image img {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big_card_1 h3,
.big_card_2 h3,
.small_cards_part h3 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: medium;
}

.small_cards_part {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small_card_1 {
    height: 190px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
}

.small_card_1 .small_image {
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0px 0px;
}

.small_card_2 {
    height: 132px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
}

.small_card_2 .small_image {
    width: 100%;
    height: 60%;
    border-radius: 15px 15px 0px 0px;
}

.small_card_3 {
    height: 160px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
}

.small_card_3 .small_image {
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0px 0px;
}

.small_card_4 {
    height: 162px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
}

.small_card_4 .small_image {
    width: 100%;
    height: 68%;
    border-radius: 15px 15px 0px 0px;
}

.small_image img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding-top: 2%;
    gap: 17%;
}

footer h3 {
    font-size: medium;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.about {
    margin-left: 3%;
}

footer li:not(:last-child) {
    margin-bottom: 15px;
}

h4 a:hover,
.links_info a:hover {
    text-decoration: 2px underline;
    color: black;
}


@media all and (min-width: 768px) and (max-width: 992px) {

    .room_card a:hover,
    .popular_card a:hover,
    .big_card_1 a:hover,
    .big_card_2 a:hover,
    .small_card_1 a:hover,
    .small_card_2 a:hover,
    .small_card_3 a:hover,
    .small_card_4 a:hover,
    h4 a:hover,
    .links_info a:hover {
        color: inherit;
    }

    .economy a:hover,
    .fam a:hover,
    .romance a:hover,
    .animals a:hover {
        color: inherit;
    }

    header {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0;
    }

    .logo_nav {
        flex-direction: column;
        width: 100%;
    }

    #logo_site {
        display: block;
        margin: auto;
        width: 30%;
    }

    #logo_site img {
        width: 60%;
        margin-left: 30%;
        margin-bottom: 5%;
    }

    nav {
        width: 100%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
        border-bottom: #F2F2F2 solid 3px;
    }

    nav ul {
        width: 100%;
        margin-bottom: 3%;
        justify-content: space-around;
    }

    nav li {
        margin-right: 0;
    }

    nav a:hover {
        border-top: none;
        border-bottom: #0065FC solid 3px;
        padding-bottom: 22px;
    }

    h1 {
        padding-left: 4%;
    }

    .presentation p {
        margin: 0 0 5%;
        font-size: small;
        padding-left: 4%;
    }

    form {
        padding-left: 4%;
    }

    .magnifying_glass {
        display: none;
    }

    .filters {
        flex-wrap: wrap;
        gap: 0%;
        margin-top: 0;
        padding-left: 4%;
    }

    .filters p {
        margin-bottom: 1%;
    }

    .categories {
        flex-wrap: wrap;
        margin-left: 0;
        margin-top: 0;
    }

    .economy {
        width: 150px;
    }

    .economic {
        padding: 5px;
    }

    .fam {
        margin-left: 0;
        width: 120px;
    }

    .info_part {
        margin-bottom: 3%;
        padding-left: 4%;
    }

    .info_part p {
        font-size: smaller;
    }

    main {
        margin: 0;
        width: 100%;
    }

    .rooms_popular {
        width: auto;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 4%;
    }

    .rooms_marseille {
        width: auto;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 3%;
    }

    .rooms_cards {
        justify-content: space-around;
        height: auto;
        gap: 10px;
    }

    .room_card {
        width: 47%;
        height: 160px;
        margin: 0;
    }

    .card_body {
        margin-left: 1%;
    }

    .rooms_marseille h3,
    .card_body p {
        margin-left: 5%;
    }

    .stars {
        margin-left: 5%;
    }

    .rooms_marseille h4 {
        margin-top: 3%;
        font-size: medium;
        font-style: italic;
    }

    aside {
        padding: 0;
        padding-top: 2%;
        width: auto;
    }

    .most_popular_title {
        margin-bottom: 0;
        padding-left: 5%;
        padding-right: 5%;

    }

    .popular_cards {
        padding: 0 5% 2% 5%;
        margin: 0;
        display: flex;
        gap: 20px;
    }

    .popular_card {
        height: 150px;
        margin: 0;
        margin-right: 0;
    }

    .popular_body {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .popular_card h3 {
        font-size: medium;
        width: auto;
        margin-bottom: 0;
    }

    .activities {
        flex-direction: column;
        margin-bottom: 5%;
    }

    .activities h2 {
        padding-left: 4%;
    }

    .activities_cards {
        gap: 3%;
        width: auto;
        padding-left: 4%;
        padding-right: 4%;
    }

    .big_card_1,
    .big_card_2 {
        height: 254px;
    }

    .small_card_1,
    .small_card_2,
    .small_card_3,
    .small_card_4 {
        height: 119px;
    }

    .small_cards_part {
        justify-content: space-between;
        padding-bottom: 0;
    }

    .big_image {
        height: 85%;
    }

    .small_card_1 .small_image,
    .small_card_2 .small_image,
    .small_card_3 .small_image,
    .small_card_4 .small_image {
        height: 67%;
    }

    .big_card_1 h3 {
        margin-top: 9px;
        margin-left: 8px;
    }

    .big_card_2 h3 {
        margin-top: 1px;
        margin-left: 8px;
    }

    .small_card_1 h3 {
        margin-top: 8px;
        margin-left: 6px;
    }

    .small_card_2 h3 {
        margin-top: 10px;
        margin-left: 8px;
    }

    .small_card_3 h3 {
        margin-top: 2px;
        margin-left: 8px;
    }

    footer {
        width: auto;
        flex-direction: column;
        gap: 15%;
        padding-left: 3%;
        padding-right: 5%;
    }

    .houses,
    .help {
        margin-left: 3%;
    }
}


@media all and (max-width: 767px) {

    .economy a:hover,
    .fam a:hover,
    .romance a:hover,
    .animals a:hover,
    .room_card a:hover,
    .popular_card a:hover,
    .big_card_1 a:hover,
    .big_card_2 a:hover,
    .small_card_1 a:hover,
    .small_card_2 a:hover,
    .small_card_3 a:hover,
    .small_card_4 a:hover,
    h4 a:hover,
    .links_info a:hover {
        color: inherit;
    }

    header {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0;
    }

    .logo_nav {
        flex-direction: column;
        width: 100%;
    }

    #logo_site {
        display: block;
        margin-left: 40%;
        width: 30%;
    }

    #logo_site img {
        width: 100%;
        margin-left: 0;
    }

    nav {
        width: 100%;
        margin-bottom: 5%;
        margin-top: 5%;
        padding-bottom: 2%;
        justify-content: flex-start;
        border-bottom: #F2F2F2 solid 3px;
    }

    nav ul {
        width: auto;
        justify-content: space-around;
    }

    nav li {
        margin-right: 0;
    }

    nav a:hover {
        border-top: none;
        border-bottom: #0065FC solid 3px;
        padding-bottom: 22px;
    }

    h1 {
        padding-left: 5%;
    }

    .presentation p {
        margin: 0 0 5% 5%;
    }

    .form {
        margin-left: 5%;
    }

    .research {
        display: none;
    }

    .magnifying_glass {
        visibility: visible;
        margin-left: 0%;
        padding: 0px;
        height: 10%;
        border: none;
        background-color: white;
    }

    .magnifying_glass i {
        margin-left: -100%;
        font-size: 100%;
        color: white;
        background-color: #0065FC;
        border-radius: 10px;
        padding-left: 9px;
    }

    .filters {
        flex-wrap: wrap;
        gap: 0%;
        margin-left: 5%;
        margin-top: 0;
        padding: 0;
    }

    .categories {
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 1%;
    }

    .economy {
        width: 150px;
    }

    .economic {
        padding: 5px;
    }

    .fam {
        margin-left: 0px;
        width: 120px;
    }

    .info_part {
        margin-left: 5%;
    }

    main {
        margin: 0;
        width: 100%;
    }

    .rooms_popular {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    aside {
        border-radius: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .most_popular_title {
        padding-left: 5%;
        padding-right: 5%;
    }

    .popular_cards {
        padding: 5%;
    }

    .popular_card {
        margin-bottom: 5%;
    }

    .popular_card h3 {
        font-size: large;
        margin-bottom: 10px;
    }

    .popular_body {
        justify-content: space-between;
    }

    .popular_card p {
        margin-top: 0;
    }

    .stars_pop {
        margin-top: 0;
    }

    .rooms_marseille {
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .rooms_marseille h2 {
        padding-bottom: 0px;
        padding-left: 5%;
        margin-top: 10%;
    }

    .rooms_cards {
        flex-direction: column;
        padding: 5%;
        gap: 15px;
    }

    .first_line,
    .second_line {
        flex-direction: column;
        gap: 15px;
    }

    .room_card {
        width: 100%;
        margin: 0;
    }

    .card_body {
        margin-left: 1%;
    }

    .rooms_marseille h3,
    .card_body p {
        margin-left: 3%;
    }

    .rooms_marseille h3 {
        font-size: medium;
    }

    .stars {
        margin-top: 1%;
        margin-left: 3%;
    }

    .rooms_marseille h4 {
        padding-left: 5%;
    }

    .activities {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0 0 10% 0%;
        padding: 0;
    }

    .activities h2 {
        margin-left: 5%;
    }

    .activities_cards {
        flex-direction: column;
        width: auto;
        margin-left: 5%;
        padding-right: 5%;
    }

    .big_card_1,
    .big_card_2,
    .small_card_1,
    .small_card_2,
    .small_card_3,
    .small_card_4 {
        height: 165px;
        width: 100%;
    }


    .big_card_1,
    .big_card_2,
    .small_cards_part {
        width: 100%;
    }

    .big_image {
        height: 70%;
    }

    .small_card_1,
    .small_card_3 {
        margin-bottom: 30px;
    }

    .small_card_1 .small_image,
    .small_card_2 .small_image,
    .small_card_4 .small_image {
        height: 70%;
    }

    .big_card_1 h3,
    .big_card_2 h3,
    .small_cards_part h3 {
        margin-top: 15px;
        margin-left: 15px;
    }

    footer {
        width: auto;
        flex-direction: column;
        gap: 15%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .houses,
    .help {
        margin-left: 3%;
    }
}